/* Custom css style */

.slides{
    margin-bottom: 50px;
    position: relative;    
}
.slides li::before{
    content: "";
    position: absolute;   
    top: 0px;
    left: 0px;
    background-color: rgba(10, 10, 15, 0.781);
    width: 100%;
    height: 100%;
}

.search-section input{
    padding: 5px !important;
    font-size: 18px !important;
    width: 80%;
}

.search-section .row{
    margin: 0px;
}

.section-follow a{
    display: inline-block;
    margin: 0px 10px;
}

.section-gallery .col{
    margin-bottom: 10px;
}

.section-contact h4{
    margin: 0px;
}
.section-contact form{
    margin-top: 30px;
}